<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeLimit</key>
	<integer>180</integer>
	<key>initialPlayerBotOrientation</key>
	<string>East</string>
	<key>proximityFactor</key>
	<integer>800</integer>
	<key>taskBotConfigurations</key>
	<array>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>East</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot5_6_point01</string>
				<string>groundBot5_6_point02</string>
				<string>groundBot5_6_point03</string>
				<string>groundBot5_6_point04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot5_6_point01</string>
				<string>groundBot5_6_point02</string>
				<string>groundBot5_6_point03</string>
				<string>groundBot5_6_point04</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>West</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot5_6_point03</string>
				<string>groundBot5_6_point04</string>
				<string>groundBot5_6_point01</string>
				<string>groundBot5_6_point02</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot5_6_point03</string>
				<string>groundBot5_6_point04</string>
				<string>groundBot5_6_point01</string>
				<string>groundBot5_6_point02</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>NorthEast</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot4_point05</string>
				<string>groundBot4_point06</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot4_point01</string>
				<string>groundBot4_point02</string>
				<string>groundBot4_point03</string>
				<string>groundBot4_point04</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot3_point05</string>
				<string>groundBot3_point06</string>
				<string>groundBot3_point07</string>
				<string>groundBot3_point08</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot3_point01</string>
				<string>groundBot3_point02</string>
				<string>groundBot3_point03</string>
				<string>groundBot3_point04</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>East</string>
			<key>startsBad</key>
			<false/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot1_point01</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point03</string>
				<string>groundBot1_point04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot1_point01</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point03</string>
				<string>groundBot1_point04</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>West</string>
			<key>startsBad</key>
			<false/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot2_point01</string>
				<string>groundBot2_point02</string>
				<string>groundBot2_point03</string>
				<string>groundBot2_point04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot2_point01</string>
				<string>groundBot2_point02</string>
				<string>groundBot2_point03</string>
				<string>groundBot2_point04</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
