<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Label</string>
		<key>controllerIdentifier</key>
		<string>labelDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Button</string>
		<key>controllerIdentifier</key>
		<string>buttonDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Switch</string>
		<key>controllerIdentifier</key>
		<string>switchDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Slider</string>
		<key>controllerIdentifier</key>
		<string>sliderDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Image</string>
		<key>controllerIdentifier</key>
		<string>imageDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Separator</string>
		<key>controllerIdentifier</key>
		<string>separatorDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Map</string>
		<key>controllerIdentifier</key>
		<string>mapDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Group</string>
		<key>controllerIdentifier</key>
		<string>groupDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Table</string>
		<key>controllerIdentifier</key>
		<string>tableDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Device</string>
		<key>controllerIdentifier</key>
		<string>deviceDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Controller</string>
		<key>controllerIdentifier</key>
		<string>controllerDetailController</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Text Input</string>
		<key>controllerIdentifier</key>
		<string>textInputDetailController</string>
	</dict>
</array>
</plist>
