<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeLimit</key>
	<real>240</real>
	<key>flyByDuration</key>
	<integer>4</integer>
	<key>initialPlayerBotOrientation</key>
	<string>South</string>
	<key>proximityFactor</key>
	<integer>1600</integer>
	<key>taskBotConfigurations</key>
	<array>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>West</string>
			<key>startsBad</key>
			<false/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot_point01</string>
				<string>groundBot_point02</string>
				<string>groundBot_point03</string>
				<string>groundBot_point04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot_point01</string>
				<string>groundBot_point04</string>
				<string>groundBot_point03</string>
				<string>groundBot_point02</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>South</string>
			<key>startsBad</key>
			<false/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot_point02</string>
				<string>groundBot_point03</string>
				<string>groundBot_point04</string>
				<string>groundBot_point01</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot_point02</string>
				<string>groundBot_point01</string>
				<string>groundBot_point04</string>
				<string>groundBot_point03</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>East</string>
			<key>startsBad</key>
			<false/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot_point03</string>
				<string>groundBot_point04</string>
				<string>groundBot_point01</string>
				<string>groundBot_point02</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot_point03</string>
				<string>groundBot_point02</string>
				<string>groundBot_point01</string>
				<string>groundBot_point04</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>ground</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<false/>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot_point04</string>
				<string>groundBot_point01</string>
				<string>groundBot_point02</string>
				<string>groundBot_point03</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot_point04</string>
				<string>groundBot_point03</string>
				<string>groundBot_point02</string>
				<string>groundBot_point01</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>South</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot_point01</string>
				<string>flyingBot_point02</string>
				<string>flyingBot_point03</string>
				<string>flyingBot_point04</string>
				<string>flyingBot_point05</string>
				<string>flyingBot_point06</string>
				<string>flyingBot_point07</string>
				<string>flyingBot_point08</string>
				<string>flyingBot_point09</string>
				<string>flyingBot_point10</string>
				<string>flyingBot_point11</string>
				<string>flyingBot_point12</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot_point01</string>
				<string>flyingBot_point12</string>
				<string>flyingBot_point11</string>
				<string>flyingBot_point10</string>
				<string>flyingBot_point09</string>
				<string>flyingBot_point08</string>
				<string>flyingBot_point07</string>
				<string>flyingBot_point06</string>
				<string>flyingBot_point05</string>
				<string>flyingBot_point04</string>
				<string>flyingBot_point03</string>
				<string>flyingBot_point02</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>West</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot_point04</string>
				<string>flyingBot_point05</string>
				<string>flyingBot_point06</string>
				<string>flyingBot_point07</string>
				<string>flyingBot_point08</string>
				<string>flyingBot_point09</string>
				<string>flyingBot_point10</string>
				<string>flyingBot_point11</string>
				<string>flyingBot_point12</string>
				<string>flyingBot_point01</string>
				<string>flyingBot_point02</string>
				<string>flyingBot_point03</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot_point04</string>
				<string>flyingBot_point03</string>
				<string>flyingBot_point02</string>
				<string>flyingBot_point01</string>
				<string>flyingBot_point12</string>
				<string>flyingBot_point11</string>
				<string>flyingBot_point10</string>
				<string>flyingBot_point09</string>
				<string>flyingBot_point08</string>
				<string>flyingBot_point07</string>
				<string>flyingBot_point06</string>
				<string>flyingBot_point05</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot_point07</string>
				<string>flyingBot_point08</string>
				<string>flyingBot_point09</string>
				<string>flyingBot_point10</string>
				<string>flyingBot_point11</string>
				<string>flyingBot_point12</string>
				<string>flyingBot_point01</string>
				<string>flyingBot_point02</string>
				<string>flyingBot_point03</string>
				<string>flyingBot_point04</string>
				<string>flyingBot_point05</string>
				<string>flyingBot_point06</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot_point07</string>
				<string>flyingBot_point06</string>
				<string>flyingBot_point05</string>
				<string>flyingBot_point04</string>
				<string>flyingBot_point03</string>
				<string>flyingBot_point02</string>
				<string>flyingBot_point01</string>
				<string>flyingBot_point12</string>
				<string>flyingBot_point11</string>
				<string>flyingBot_point10</string>
				<string>flyingBot_point09</string>
				<string>flyingBot_point08</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>East</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot_point10</string>
				<string>flyingBot_point11</string>
				<string>flyingBot_point12</string>
				<string>flyingBot_point01</string>
				<string>flyingBot_point02</string>
				<string>flyingBot_point03</string>
				<string>flyingBot_point04</string>
				<string>flyingBot_point05</string>
				<string>flyingBot_point06</string>
				<string>flyingBot_point07</string>
				<string>flyingBot_point08</string>
				<string>flyingBot_point09</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot_point10</string>
				<string>flyingBot_point09</string>
				<string>flyingBot_point08</string>
				<string>flyingBot_point07</string>
				<string>flyingBot_point06</string>
				<string>flyingBot_point05</string>
				<string>flyingBot_point04</string>
				<string>flyingBot_point03</string>
				<string>flyingBot_point02</string>
				<string>flyingBot_point01</string>
				<string>flyingBot_point12</string>
				<string>flyingBot_point11</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
