<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nextLevel</key>
	<string>Level00</string>
	<key>timeLimit</key>
	<integer>180</integer>
	<key>initialPlayerBotOrientation</key>
	<string>South</string>
	<key>proximityFactor</key>
	<integer>1000</integer>
	<key>taskBotConfigurations</key>
	<array>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<false/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot2_point01</string>
				<string>flyingBot2_point02</string>
				<string>flyingBot2_point03</string>
				<string>flyingBot2_point04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot2_point01</string>
				<string>flyingBot2_point02</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot9_point01</string>
				<string>flyingBot4_point05</string>
				<string>flyingBot7_point01</string>
				<string>flyingBot8_point01</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot9_point01</string>
				<string>flyingBot4_point05</string>
				<string>flyingBot7_point01</string>
				<string>flyingBot8_point01</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot8_point01</string>
				<string>flyingBot9_point01</string>
				<string>flyingBot4_point05</string>
				<string>flyingBot7_point01</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot8_point01</string>
				<string>flyingBot9_point01</string>
				<string>flyingBot4_point05</string>
				<string>flyingBot7_point01</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot7_point01</string>
				<string>flyingBot8_point01</string>
				<string>flyingBot9_point01</string>
				<string>flyingBot4_point05</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot7_point01</string>
				<string>flyingBot8_point01</string>
				<string>flyingBot9_point01</string>
				<string>flyingBot4_point05</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>North</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot4_point03</string>
				<string>flyingBot4_point04</string>
				<string>flyingBot4_point05</string>
				<string>flyingBot7_point01</string>
				<string>flyingBot8_point01</string>
				<string>flyingBot9_point01</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot4_point01</string>
				<string>flyingBot4_point02</string>
				<string>flyingBot3_point06</string>
				<string>flyingBot3_point05</string>
			</array>
		</dict>
		<dict>
			<key>locomotion</key>
			<string>flying</string>
			<key>initialOrientation</key>
			<string>East</string>
			<key>startsBad</key>
			<true/>
			<key>goodPathNodeNames</key>
			<array>
				<string>flyingBot3_point05</string>
				<string>flyingBot3_point06</string>
				<string>flyingBot4_point02</string>
				<string>flyingBot4_point01</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>flyingBot3_point01</string>
				<string>flyingBot3_point02</string>
				<string>flyingBot3_point03</string>
				<string>flyingBot3_point04</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
